<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
</head>
<body>
<div>
    Welcome Home!

    <div id="question-only-section">
        <div class="form-submit cbt">
            <button id="newPost" class="btn btn__with-icon"
                    type="submit" tabindex="120" autocomplete="off">
                New Doc!
            </button>

        </div>
    </div>

    <ul>
        {%for item in doc_list%}
            <li>
                <a href="{{url_for('view_doc', doc_uid=item.uid)}}"> {{item.uid}}</a>
            </li>
        {%endfor%}

    </ul>

</div>


    <script>
        var oldContent;

        $('#newPost').click(newPost);
        function newPost() {
            var ajax_success = false;

            $.ajax({
                type: 'POST',
                url: '/docs',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                // Flask expects this attribute `data`. If it
                // would be empty, give it the value '{}'.
                // This would prevent a bad HTTP request error (400) in Flask
                // For more valid minimal JSON strings, see:
                // http://stackoverflow.com/questions/30621802/why-does-json-parse-fail-with-the-empty-string/30621997#30621997
                data: JSON.stringify({}),

                success: function(response) {
                    window.location.replace("http://127.0.0.1:5000/docs/" + response['docUID']);

                    ajax_success = true;
                    echo(response);


                },

                error: function(error) {
                    console.log('AJAX Failed!'); // DEBUG
                    ajax_success = false;
                    echo(error);
                }
            });
            return ajax_success;
        }

    </script>
</body>
</html>
